

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}

/* Custom page header */
.header {
  border: 0px;
  border-bottom: 1px solid #5999C4;
  margin-bottom: 50px;
  color: #ffffff;
  /*color: #0A3565;*/
}

.navbar-default {
    border-radius: 7px;
    border: 0;
    background-color: #135cb5;
    /*border-color: #030033;*/
}

.navbar-default .navbar-nav>li>a:focus  {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #0e40d3;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: grey; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}


#videobcg { 
   position: fixed;
   top: 0px;
   left: 0px;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -1000;
   overflow: hidden;
   -webkit-filter: blur(15px);
   -moz-filter: blur(15px);
   -o-filter: blur(15px);
   -ms-filter: blur(15px);
   filter: blur(15px);
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}


#wrap {
  min-height: 100%;
  margin: 0 auto ;
}

/* Custom page footer */
.footer {
  display: none;
  height: 290px;
  width: 100%;
  background-color:#384954 ;
  border-radius: 7px;
  padding-top: 19px;
  bottom:0;
  left:0px;
  right:0px;
  margin-bottom:0px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
ul, li{
  list-style-type: none;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 50px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .footer{
    min-width:768px;
  }
}

.table-curved {
    background: white;
    /*font-family: Lato ;*/
    border-collapse: separate;
    border: solid #ccc 1px;
    border-radius: 15px;
    border-left:0px;
    box-shadow: 5px 5px 10px #888888;
    padding-top: 15px;
}

#backgroundplayer {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/media/images/nba_img/playerback.jpg);
    z-index: -100;
}


.fTab {
  width: 10%;
  height: 2em;
  position: relative;
  bottom: 0;
  left: 2em;
  display: block;
  background: rgba(0, 0, 0, 0.69);
  color: #c1c1c1;
  line-height: 2em;
  text-align: center;
  font-size: 0.9em;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

#backgroundteam {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/media/images/nba_img/back0202.jpg);
    z-index: -100;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


/*@keyframes example {*/
     /*0%   {background-image: url(/media/images/nba_img/back0202.jpg);}*/
     /*10%   {background-image: url(/media/images/nba_img/back0202.jpg);}*/
     /*!*    15%  {background-image: url(/images/back03.jpg);}*!*/
     /*20%  {background-image: url(/media/images/nba_img/back02.jpg);}*/
     /*70%  {background-image: url(/media/images/nba_img/back02.jpg);}*/
     /*!*    75%  {background-image: url(/images/back03.jpg);}*!*/
     /*80%  {background-image: url(/media/images/nba_img/back0202.jpg);}*/
     /*100% {background-image: url(/media/images/nba_img/back0202.jpg);}*/
 /*}*/


@keyframes example {
    0%   {background-image: url(/media/images/nba_img/back0202.jpg);}
    /*10%   {background-image: url(/media/images/nba_img/back0202.jpg);}*/
    /*    15%  {background-image: url(/images/back03.jpg);}*/
    /*20%  {background-image: url(/media/images/nba_img/back02.jpg);}*/
    70%  {background-image: url(/media/images/nba_img/back02.jpg);}
    /*    75%  {background-image: url(/images/back03.jpg);}*/
    /*80%  {background-image: url(/media/images/nba_img/back0202.jpg);}*/
    100% {background-image: url(/media/images/nba_img/back0202.jpg);}
}